.competences {
  max-width: 100vw;
  margin: 15px auto;
  text-align: center;
}

.competences h2 {
  margin-bottom: 15px;
}

.competences p {
  margin: 20px 20px;
  text-align: justify;
}

#competencesH3 {
  margin: 1.5em;
  /* border-bottom: 1px solid #000; */
  width: 80%;
  margin: 20px auto;
}

.competenceContainer {
  /* background-color: green; */
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.competencesIcons {
  width: 20%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 15px auto;
}

.backendIcons,
.frontendIcons {
  border-top: 2px solid grey;
  margin: 10px 15px 10px;
  padding-top: 10px;
}

.cvImage {
  cursor: default;
}

.cvContenair {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: red;
}

.btnCv {
  margin: 15px auto;
}

@media screen and (max-width: 768px) {
  .competenceContainer {
    flex-direction: column;
  }

  .backendIcons,
  .frontendIcons {
    margin: 10px 0; /* Ajuste la marge */
    padding-top: 10px; /* Ajoute une marge supérieure */
    padding-bottom: 10px; /* Ajoute une marge inférieure */
    max-height: 120px; /* Ajoute une hauteur maximale */
    overflow: hidden; /* Cache le contenu qui dépasse la hauteur maximale */
    display: flex;
    justify-content: space-evenly; /* Répartit l'espace entre les icônes */
  }

  .competencesIcons {
    width: 100px;
    margin: 10px auto;
    padding-top: 10px; /* Ajoute une marge supérieure */
    padding-bottom: 10px; /* Ajoute une marge inférieure */
    max-height: 120px; /* Ajoute une hauteur maximale */
    overflow: hidden; /* Cache le contenu qui dépasse la hauteur maximale */
    display: flex;
    justify-content: space-evenly;
  }

  .competencesIcons {
    width: 100%;
    padding: 10px;
  }

  .competencesIcons img[src*="db.png"],
  .competencesIcons img[src*="react.svg"] {
    width: 80px; /* Ajuste la largeur de l'icône de la base de données */
  }

  .backendIcons,
  .frontendIcons {
    display: flex;
    margin: 10px auto;
    padding-top: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .competences p {
    width: 60%;
    text-align: justify;
    margin: 5% auto;
  }
}

/* @media screen and (max-width: 1440px) {
} */
