.navbar {
  color: red;
}

.profilContainer h2 {
  margin: 5%;
  color: black;
}

img {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.description {
  padding: 2em;
}

.profilContainer {
  position: relative;
  text-align: center;
  padding: 20px;
}

.serverImage {
  max-width: 100%;
  /* height: auto; */
  max-height: 200px;
  filter: opacity(85%);
}

.textImage {
  color: white;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  text-align: center;
  text-wrap: balance;
  filter: opacity(100%);
  font-size: 1.2em;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .profilContainer {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
  }
  .textImage {
    margin-right: 20px;
    text-align: left;
    max-height: 300px;
  }
  .profilContainer h2 {
    text-align: center;
    margin: 0.9375em auto 0.5em;
  }
  .container {
    /* max-width: 600px; */
    margin: 0 auto;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    /* width: 80%; */
  }
  .container::after {
    content: "";
    display: block;
    clear: both;
  }
  .text_container {
    max-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
  }
  .description {
    text-align: justify;
    width: 100%;
    display: inline-block;
    margin-bottom: 50px;
  }
  .profil_picture {
    width: 40%;
    float: left;
    object-fit: cover;
    shape-outside: margin-box;
    clip-path: ellipse(33% 50%);
    margin: 0 0px 5px 0;
    /* display: inline-block; */
    /* padding: 30px; */
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
  }
  img .serverImage {
    max-width: 100%;
    height: auto;
    filter: opacity(85%);
    clip-path: none;
  }
}
