.navbar {
  color: red;
}

h2 {
  color: black;
}

img {
  width: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  padding: 2em;
}

.profilContainer {
  position: relative;
  text-align: center;
  padding: 20px;
}

.serverImage {
  max-width: 100%;
  height: auto;
  filter: opacity(85%);
}

.textImage {
  color: white;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  text-align: center;
  text-wrap: balance;
  filter: opacity(100%);
  font-size: 1.2em;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .profilContainer {
    flex-direction: row;
    justify-content: center;
  }
  .textImage {
    margin-right: 20px;
    text-align: left;
  }
  /* h2 {
    text-align: center;
    margin: 0.9375em auto 0.5em;
  }
  .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
  }
  .text_container {
    max-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 60%;
  }
  .description {
    width: 40%;
    display: inline-block;
  }
  img {
    display: inline-block;
    width: 30%;
  } */
}
