/* Navbar */
.navbar {
  position: fixed;
  /* margin-top: 90px !important; */
  /* height: 90px; */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in;
  z-index: 999;
}

.navbar-bg {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar.opaque {
  background-color: rgba(0, 0, 0, 0.9);
}

/* logo */
.logo {
  width: 80px;
  position: absolute;
  left: 0;
  top: 8px;
  margin: 0;
}

a {
  color: white;
}

/* Menu */
.menu {
  /* position: absolute; */
  height: 60px;
  top: 100%;
  width: 100%;
  /* background-color: rgb(226 232 240); */
  /* margin-top: 2em; */
  padding-bottom: 5px;
  /* padding-top: 1.4em; */
  display: flex;
  z-index: 2;
}

.menu.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Menu Items */
.menu-item {
  display: inline-block;
  padding: 2px 16px;
  margin: 0 8px;
  font-size: 1.25rem;
}

/* Toggle Button */
.toggle-button {
  margin-left: auto;
  display: none;
}

/* Button Icon */
.button-icon {
  width: 1rem;
}

/* Show/Hide Menu Styles */
.toggle-button .button-icon[src*="close"] {
  display: block;
}

.toggle-button .button-icon[src*="hamburger"] {
  display: block;
}

.menu.flex {
  display: flex;
}

.menu.hidden {
  display: none;
}

.menu.flex {
  display: flex;
}

/* Affiche le bouton de menu pour les tablettes et les mobiles */
@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 90px !important;
  }
  .menu-item {
    color: black;
  }
  .toggle-button {
    display: block;
    margin: 1rem auto;
  }

  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu.flex {
    /* margin-top: 50px; */
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    display: flex;
    height: auto;
    z-index: 2;
  }

  ul.menu.flex {
    /* margin-top: 55px; */
  }

  navbar li a {
    color: black;
  }

  .menu.hidden {
    /* flex-direction: column; */
    display: none;
  }
  .logo {
    display: flex;
  }
  .close-button {
    margin-top: 20px;
  }
  .toggle-button.show {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
