/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 0 0.25rem; */

  /* background-color: rgb(226 232 240); */
}

/* logo */
.logo {
  width: 80px;
  position: absolute;
  left: 0;
  top: 8px;
  margin: 0;
}

a {
  color: white;
}

/* Menu */
.menu {
  position: absolute;
  top: 100%;
  width: 100%;
  /* background-color: rgb(226 232 240); */
  padding-bottom: 5px;
  padding-top: 1.4em;
  display: none;
}

.menu.flex {
  display: flex;
}

/* Menu Items */
.menu-item {
  display: inline-block;
  padding: 2px 16px;
  margin: 0 8px;
  font-size: 1.25rem;
}

/* Toggle Button */
.toggle-button {
  margin-left: auto;
  display: none;
}

/* Button Icon */
.button-icon {
  width: 1rem;
}

/* Show/Hide Menu Styles */
.toggle-button .button-icon[src*="close"] {
  display: block;
}

.toggle-button .button-icon[src*="hamburger"] {
  display: block;
}

.menu.flex {
  display: flex;
}

.menu.hidden {
  display: none;
}

.menu.flex {
  display: flex;
}

/* Affiche le bouton de menu pour les tablettes et les mobiles */
@media screen and (max-width: 768px) {
  .menu-item {
    color: black;
  }
  .toggle-button {
    display: block;
    margin: 1rem auto;
  }

  .button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu.flex {
    background-color: rgba(35, 36, 36, 0.9);
    flex-direction: column;
    display: flex;
  }

  navbar li a {
    color: black;
  }

  .menu.hidden {
    /* flex-direction: column; */
    display: none;
  }
  .logo {
    display: flex;
  }
}
